body{
    background-color:white;
}

.main{
    background-color: yellow;
    border: 5px dashed black;
    text-align: center;
}

#main{
    position: absolute;
    width: 80%;
    left: 10%;
    top: 15%;
    
}

.main .number
{
    color: black;
}

.number{
    background-color: yellowgreen;
}